<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <div class="box-title">Login status</div>
        </div>

        <div class="box-body">You are logged in!</div>
      </div>
    </div>
  </div>

</section>
